version: '3'

services:
  postgres:
    image: postgres:15-alpine
    restart: no
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - '5432:5432'
    volumes:
      - ./db:/var/lib/postgresql/data
      - ./create_db.sql:/docker-entrypoint-initdb.d/create_database.sql
